<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                    <div class="vertical-align"> 
                        <h4 class="card-title ">Bus Stops</h4>
                       
                        <div class="horizontal-align"> 
                            <p class="card-category" style="margin-right: auto;"> Below are the registered shuttles</p>
                        <!-- <div  style="width: 00px;"></div> -->
                        <i class="material-icons " style="margin-left: auto; font-size:30px; padding-left: 20;  cursor: pointer; " (click) ='openVerticallyCentered(content) '>add</i>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <!-- <th>
                                        IndexNumber
                                    </th> -->
                                    <th>
                                        Name
                                    </th>
                                    <!-- <th>
                                        Mileage
                                    </th>
                                    <th>
                                        Last Maintenance
                                    </th> -->
                                </thead>
                                <tbody>
                                   
                                  
                                    <tr  *ngFor="let policy of policies; let i = index">
                                        <td>
                                            {{policy.id}}
                                        </td>
                                        <!-- <td>
                                            {{policy.indexNo}}
                                        </td> -->
                                        <td>
                                           {{policy.name}}
                                        </td>
                                        <!-- <td>
                                            {{policy.mileage}}
                                        </td>
                                        <td >
                                            {{policy.lastMaintenance}}
                                        </td>
                                        <td class="text-primary" (click)="edit(policy); picker.open()" >
                                            <a  style="color: grey" > <mat-icon>edit</mat-icon></a>
                                         </td> -->
                                         <td class="text-danger" (click) = 'delete(policy)'>
                                            <i style="color: red; cursor: pointer;"> <mat-icon>delete</mat-icon></i>
                                         </td>

                                       
                                    </tr>
                                    
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- <mat-form-field class="example-full-width" [hidden] = 'true'>
        <input matInput  [matDatepicker]="picker"[hidden] = 'true' (dateChange)="updateDOB($event)">
        <mat-datepicker-toggle matSuffix [for]="picker" [hidden] = 'true'></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field> -->
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Register Bus Stop</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="profileForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="name">
                  
                  
                  </mat-form-field>
               
             
                 
               
              
                 
            </form>
               
              
       
     
      
        </div>
        <div class="modal-footer">
              <button  mat-fab color="success" aria-label="Example icon button with a home icon"  (click) ='goToBusstopSelect()' >
        <mat-icon>location_on</mat-icon>
      </button> 
          <!-- <button type="button" class="btn btn-light" (click)="add(content)" style="background-color: blue">Add</button> -->
        </div>
      </ng-template>
      
      <ng-template #longContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
     
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
      
      
    <!-- <button mat-fab color="success" aria-label="Example icon button with a home icon" (click) ='openVerticallyCentered(content)' >
        <mat-icon>add</mat-icon>
      </button>  -->
  </div>
  